<div class="navbar">
    <a class="navbar-brand" src="/"><img src="../../../assets/images/cdda-icon.png" alt="CDDA" class="logo"/></a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav flex-row">
            <li class="navbar-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/creatures">Character</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">Items</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">Creatures</a>
            </li>
        </ul>
    </div>
</div>